In [1]:
#simple model to predict house prices,the DecisionTreeRegressor algorithm is used and the data is gotten from kaggle

In [106]:
#we first import pandas, pandas is used for data exploration and manipulation
import pandas as pd

# load and examine data

In [207]:
#we then read the data into a pandas dataframe, this data is the iowa house prices data from kaggle
#link here https://www.kaggle.com/datasets/nickptaylor/iowa-house-prices, and is available in the "Data" folder of this project
#you will notice that the data is already split into "test" and "train", this is very good, it means we'll not have to split
#our data ourselves into testing and training datasets. This is important because it is not reccomended to test a model on the same
#dataset it is trained it

#we load the train dataset
house_data_train = pd.read_csv("Data/train.csv")

In [208]:
#its always a good idea to view a summary of your data before you continue, the describe() method does this
#if you want a detailed explanation of these statistics, check here
#https://medium.com/@soe.a.prime/unlocking-data-secrets-a-beginners-guide-to-25-50-and-75-percentiles-53f0973e57b4
house_data_train.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,1460.000000,1460.000000,1201.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1452.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,730.500000,56.897260,70.049958,10516.828082,6.099315,5.575342,1971.267808,1984.865753,103.685262,443.639726,...,94.244521,46.660274,21.954110,3.409589,15.060959,2.758904,43.489041,6.321918,2007.815753,180921.195890
std,421.610009,42.300571,24.284752,9981.264932,1.382997,1.112799,30.202904,20.645407,181.066207,456.098091,...,125.338794,66.256028,61.119149,29.317331,55.757415,40.177307,496.123024,2.703626,1.328095,79442.502883
min,1.000000,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,365.750000,20.000000,59.000000,7553.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,129975.000000
50%,730.500000,50.000000,69.000000,9478.500000,6.000000,5.000000,1973.000000,1994.000000,0.000000,383.500000,...,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000
75%,1095.250000,70.000000,80.000000,11601.500000,7.000000,6.000000,2000.000000,2004.000000,166.000000,712.250000,...,168.000000,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,1460.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,...,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000,755000.000000

In [209]:
#its also a good idea to look at the available columns in our data frame
house_data_train.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

# select the prediction or output target

In [210]:
#next, we select the prediction target, this is simply the data we want our model to predict
#in this case, we want to train our model to predict the "SalePrice" so we do the below
#by convention, the prediction target is called "y"

y = house_data_train.SalePrice

In [211]:
y

0       208500
1       181500
2       223500
3       140000
4       250000
         ...
1455    175000
1456    210000
1457    266500
1458    142125
1459    147500
Name: SalePrice, Length: 1460, dtype: int64

# select the features or input values

In [212]:
#next, we choose "features", in this case and generally, the features are the data in our case, the columns which are used
#as input and used to make predictions about the prediction target, sometimes, we will use all the available data as features
#but in this case, we'll select only a few columns as features

#by convention too, features are called X, (capital)
#for now, you can use any columns you like, except the target as features
#lets use our intuition here and try to choose columns we thing actually affect price in real lifeFireplaces

#NOTE: the DecisionTreeRegressor algorithm that we're going to use can only work with numerical feature values,
#so make sure that the columns you're using for features contain just numbers, no strings

house_data_train_features = ['LotArea', 'YearBuilt', '1stFlrSF', '2ndFlrSF', 'FullBath', 'BedroomAbvGr', 'TotRmsAbvGrd']

#we then use the columns selected to get the actual values and set these to X
X = house_data_train[house_data_train_features]
X

,LotArea,YearBuilt,1stFlrSF,2ndFlrSF,FullBath,BedroomAbvGr,TotRmsAbvGrd
0,8450,2003,856,854,2,3,8
1,9600,1976,1262,0,2,3,6
2,11250,2001,920,866,2,3,6
3,9550,1915,961,756,1,3,7
4,14260,2000,1145,1053,2,4,9
...,...,...,...,...,...,...,...
1455,7917,1999,953,694,2,3,7
1456,13175,1978,2073,0,2,3,7
1457,9042,1941,1188,1152,2,4,9
1458,9717,1950,1078,0,1,2,5
1459,9937,1965,1256,0,1,3,6

# initialise the model and fit the model with data

In [213]:
#now that we have our input and output data, it's time to start fitting our data to our Machine learning algorithm
#fitting data to the algorithm simply means giving it data and having it figure out patterns in the data, when our algorithm 
#has been fitted with data and it has captured patterns enough to be able to predict(or do any other task we want), it effectively 
#becomes a model

#we shall be using the DecisionTreeRegressor algorithm in this project,for this, we'll be using scikit-learn, which is a 
#machine learning library

from sklearn.tree import DecisionTreeRegressor

#initialise the model
house_model = DecisionTreeRegressor(random_state=1)
#don't worry about the "random_state=1" yet, just make sure you use the same number everytime for consistent results

#we then fit the model, basically, train the model
house_model.fit(X,y)

DecisionTreeRegressor(random_state=1)

In [214]:
#the model has been fitter/trained, we can now use it to make predictions about the saleprice

In [215]:
#now watch the magic happen as i predict house price
price_predictions = house_model.predict(X.head())
#the head() method return the first 5 values, so basically, we have predicted price for the first 5 values
price_predictions

array([208500., 181500., 223500., 140000., 250000.])

In [216]:
#the above is predicted price, but let us compare this with our normal price vales
house_data_train.SalePrice.head()

0    208500
1    181500
2    223500
3    140000
4    250000
Name: SalePrice, dtype: int64

In [217]:
#as you can see, our predictions are spot on,you(me) have just predicted house sale prices
#but wait, its too early to celbrate yet. There's no use predicting values we already know,
#we have to test this on the test data

# test accuracy of model by comparing prediction against actual values

In [ ]:
#we can however test how accurate our prediction model is by using the below
#metrics to test it against the actual scores, the below value is the mean absolute error or MAE
#the MAE tells us by how much, On average, our predictions are off.

In [220]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(y, house_model.predict(X))

62.35433789954339

# test model with test data

In [219]:
#lets bring our test data
house_data_test = pd.read_csv("Data/test.csv")
house_data_test

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,2915,160,RM,21.0,1936,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2006,WD,Normal
1455,2916,160,RM,21.0,1894,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,4,2006,WD,Abnorml
1456,2917,20,RL,160.0,20000,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,9,2006,WD,Abnorml
1457,2918,85,RL,62.0,10441,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal
1458,2919,60,RL,74.0,9627,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,11,2006,WD,Normal

In [196]:
#as you can see, our test data does not have the SalePrice column
house_data_test.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition'],
      dtype='object')

In [197]:
#we then have to select the same features for the test data as the train data
house_data_test_features = ['LotArea', 'YearBuilt', '1stFlrSF', '2ndFlrSF', 'FullBath', 'BedroomAbvGr', 'TotRmsAbvGrd']
X_test = house_data_test[house_data_test_features]
X_test

,LotArea,YearBuilt,1stFlrSF,2ndFlrSF,FullBath,BedroomAbvGr,TotRmsAbvGrd
0,11622,1961,896,0,1,2,5
1,14267,1958,1329,0,1,3,6
2,13830,1997,928,701,2,3,6
3,9978,1998,926,678,2,3,7
4,5005,1992,1280,0,2,2,5
...,...,...,...,...,...,...,...
1454,1936,1970,546,546,1,3,5
1455,1894,1970,546,546,1,3,6
1456,20000,1960,1224,0,1,4,7
1457,10441,1992,970,0,1,3,6
1458,9627,1993,996,1004,2,3,9

In [203]:
#we then use our model to make prediction on this X_test, i.e, the features of the test data
price_prediction_test = house_model.predict(X_test)
price_prediction_test

array([ 94750., 137500., 173000., ..., 157900.,  93500., 225000.])

In [222]:
#there you have it, you have successfully predicted sale price for the test data
#there's no way to test the accuracy of this result as the test dataset does not provide a SalePrice variable for us to test the 
#accuracy of our predictions against